.atm-screen {
    margin: auto;
    margin-top: 50px;
    width: 600px;
    height: 250px;
    border: 2px solid #000;
}

.atm-screen>h1 {
    padding-top: 60px;
}

.atm-screen>h3 {
    padding-left: 50px;
}

input.button {
    height: 150px;
    font-size: 50px;
}

.tbl {
    border: 3px solid;
    width: 100%;
    margin-top: 50px;
}

input[type="button"] {
    background-color: grey;
    color: rgb(255, 255, 255);
    border: solid black 2px;
    width: 100%;
    height: 75px;
    font-size: 40px;
}

td {
    width: 33%;
}