<div class="atm-screen">
    <h1 class="text-center">{{message}}</h1>
    <h3 *ngIf="!isValidCard || isValidAmount">{{inputValue}}</h3>
    <h3 *ngIf="isValidCard && !isValidAmount">{{inputString}}</h3>
</div>
<div *ngIf="!isTransactionBegin">
    <h3 class="text-center pt-4"><a (click)="beginTransaction()"><u>Click here </u></a>to start the transaction</h3>
</div>
<div *ngIf="isTransactionBegin">
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <table class="tbl">
                <tr>
                    <td><input type="button" value="1" (click)="input('1')" /> </td>
                    <td><input type="button" value="2" (click)="input('2')" /> </td>
                    <td><input type="button" value="3" (click)="input('3')" /> </td>
                </tr>
                <tr>
                    <td><input type="button" value="4" (click)="input('4')" /> </td>
                    <td><input type="button" value="5" (click)="input('5')" /> </td>
                    <td><input type="button" value="6" (click)="input('6')" /> </td>
                </tr>
                <tr>
                    <td><input type="button" value="7" (click)="input('7')" /> </td>
                    <td><input type="button" value="8" (click)="input('8')" /> </td>
                    <td><input type="button" value="9" (click)="input('9')" /> </td>
                </tr>
                <tr>
                    <td colspan="2"><input type="button" value="0" (click)="input('0')" /> </td>
                    <td><input type="button" value="Go" (click)="operations()" /> </td>
                </tr>
                <tr>
                    <td colspan="2"><input type="button" value="Cancel" (click)="terminateTransaction()" /> </td>
                    <td><input type="button" value="clear" (click)="resetInput()" /> </td>
                </tr>
            </table>
        </div>
        <div class="col-lg-4"></div>
    </div>
</div>